.few-clouds {
  background-image: url("../../../assets/blue-pink.jpg");
}

.broken-clouds {
  background-image: url("../../../assets/blue-purple.png");
}

.clear-sky {
  background-image: url("../../../assets/light-blue.jpg");
}

.weather-icon{
  width: 50px;
  height: 100px;
}

.current-temp{
  font-size: 28px;
}

.weather-item{
  height: 1000px;
}
